<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whli.autumn.system.dao.IDictDao">

    <resultMap id="BaseResult" type="com.whli.autumn.model.system.Dict">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="edit" property="edit"/>
        <result column="enabled" property="enabled"/>
        <result column="deleted" property="deleted"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[

		id,parent_id,code,name,sort,edit,enabled,remark,create_by,create_date,update_by,update_date,deleted

        ]]>
	</sql>

    <sql id="conditions">
        <where>
            <if test="entity.id != null and entity.id !=''">
                AND id = #{entity.id}
            </if>
            <if test="entity.parentId != null and entity.parentId !=''">
                AND parent_id = #{entity.parentId}
            </if>
            <if test="entity.code != null and entity.code !=''">
                AND code = #{entity.code}
            </if>
            <if test="entity.name != null and entity.name !=''">
                AND name = #{entity.name}
            </if>
            <if test="entity.sort != null and entity.sort !=''">
                AND sort = #{entity.sort}
            </if>
            <if test="entity.edit != null and entity.edit !=''">
                AND edit = #{entity.edit}
            </if>
            <if test="entity.enabled != null and entity.enabled !=''">
                AND enabled = #{entity.enabled}
            </if>
            <if test="entity.deleted != null and entity.deleted !=''">
                AND deleted = #{entity.deleted}
            </if>
            <if test="entity.remark != null and entity.remark !=''">
                AND remark = #{entity.remark}
            </if>
            <if test="entity.createBy != null and entity.createBy !=''">
                AND create_by = #{entity.createBy}
            </if>
            <if test="entity.createDate != null and entity.createDate !=''">
                AND create_date = #{entity.createDate}
            </if>
            <if test="entity.updateBy != null and entity.updateBy !=''">
                AND update_by = #{entity.updateBy}
            </if>
            <if test="entity.updateDate != null and entity.updateDate !=''">
                AND update_date = #{entity.updateDate}
            </if>
        </where>
    </sql>

    <!-- 依据Code查询字典 -->
    <select id="listByCode" resultMap="BaseResult">
        SELECT
          a.*
        FROM ts_dict a
        INNER JOIN ts_dict b ON a.parent_id = b.id
        WHERE b.code = #{code}
        ORDER BY a.sort
    </select>

    <!-- 验证字典名称、排序唯一性 -->
    <select id="validate" resultMap="BaseResult">
        SELECT
        <include refid="columns"/>
        FROM ts_dict
        <where>
            <if test="entity.parentId != null and entity.parentId !=''">
                AND parent_id = #{entity.parentId}
            </if>
            <if test="entity.sort != null">
                AND sort = #{entity.sort}
            </if>
            <if test="entity.code != null and entity.code != ''">
                AND code = #{entity.code}
            </if>
            <if test="entity.id != null and entity.id != ''">
                AND id != #{entity.id}
            </if>
        </where>
    </select>
</mapper>

