<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whli.autumn.system.dao.IRoleDao">

    <resultMap id="BaseResult" type="com.whli.autumn.model.system.Role">
        <id column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="enabled" property="enabled"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_date" property="updateDate"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
	    <![CDATA[

		id,company_id,code,name,remark,enabled,create_by,create_date,update_by,update_date,deleted

        ]]>
	</sql>

    <sql id="conditions">
        <where>
            <if test="entity.id != null and entity.id !=''">
                AND id = #{entity.id}
            </if>
            <if test="entity.companyId != null and entity.companyId !=''">
                AND company_id = #{entity.companyId}
            </if>
            <if test="entity.code != null and entity.code !=''">
                AND code = #{entity.code}
            </if>
            <if test="entity.name != null and entity.name !=''">
                AND name = #{entity.name}
            </if>
            <if test="entity.remark != null and entity.remark !=''">
                AND remark = #{entity.remark}
            </if>
            <if test="entity.enabled != null and entity.enabled !=''">
                AND enabled = #{entity.enabled}
            </if>
            <if test="entity.createBy != null and entity.createBy !=''">
                AND create_by = #{entity.createBy}
            </if>
            <if test="entity.createDate != null and entity.createDate !=''">
                AND create_date = #{entity.createDate}
            </if>
            <if test="entity.updateBy != null and entity.updateBy !=''">
                AND update_by = #{entity.updateBy}
            </if>
            <if test="entity.updateDate != null and entity.updateDate !=''">
                AND update_date = #{entity.updateDate}
            </if>
            <if test="entity.deleted != null and entity.deleted !=''">
                AND deleted = #{entity.deleted}
            </if>
        </where>
    </sql>

    <!-- 验证角色编码唯一性 -->
    <select id="validate" resultMap="BaseResult">
        SELECT
        <include refid="columns"/>
        FROM ts_role
        <where>
            <if test="entity.companyId != null and entity.companyId !=''">
                AND company_id = #{entity.companyId}
            </if>
            <if test="entity.code != null and entity.code != ''">
                AND code = #{entity.code}
            </if>
            <if test="entity.id != null and entity.id != ''">
                AND id != #{entity.id}
            </if>
        </where>
    </select>
</mapper>

